
/* Text input*/
.paperwrapper{
	display:inline-block;
	vertical-align:middle;
	filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
	height:100%;
    width:100%;
    padding:20px;
    margin:0px;
    text-align:center;
}
.paper{
	height:300px;
	width:900px;
	max-height:300px;
	max-width:900px;
	position: relative;
	border-radius:20px;
	background-color:white;
	/*box-shadow:1px 1px 12px rgba(0,0,0,0.5);*/
	margin-left:auto;
	margin-right:auto;
	padding-top:40px;
	padding-bottom:20px;
	clip-path:polygon(0px 0px, 5px 5px,0px 5px,5px 10px, 10px 25px,2px 50px,8px 80px,0px 123px, 3px 156px, 1px 200px,6px 230px, 0px 300px, 4px 340px, 7px 360px, 0px 460px, 100% 100%, 100% 0%, 0px 0px);
	
}
.textwrapper{
	background: repeating-linear-gradient(
		0deg,
			rgba(0,0,255,0.3),
			#fff 1px,
			#fff 20px
	);
	height:100%;
	width:100%;
	border-bottom: 1px solid rgba(255,0,0,0.3);
	border-top: 1px solid rgba(255,0,0,0.3);
}
textarea{
	height:100%;
	padding: 0px;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	background: transparent;
	border:none;
	line-height: 20px;
	font-size:14px;
	width:calc(100% - 20px);
	outline:0;
	resize:none;
	font-family: monospace;
	color:rgba(0,0,0,0.5);
}
#pagination{
	position: absolute;
	bottom:5px;
	font-size:10px;
	right:20px;
}

.send {
color: #00CCBD !important;
text-transform: uppercase;
padding: 10px;
border: 4px solid #00CCBD !important;
border-radius: 6px;
display: inline-block;
font-size: 10px;
transition: all 0.3s ease 0s;
}
.send:hover {
color: #373737;
border-radius: 30px;
background-color:#373737;
border-color: #373737;
transition: all 0.3s ease 0s;
opacity:1;

}