{% extends "base_generic.html" %}

{% block title %}Text | Pages | Gallery {% endblock %}

{% block content %}
{% load static %}

<div class="paperwrapper">
  <div class="paper">
    <div class="textwrapper">
      <textarea placeholder="Write something..." id=""></textarea>
      <br>
      <br>
      <div class="button_cont"><a class="send" href="#" target="_blank" rel="nofollow noopener">Analyze</a></div>
    </div>
  </div>
</div>

<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>

{% endblock %}